@import url(https://fonts.googleapis.com/css2?family=Mukta&family=Roboto:ital,wght@0,400;1,300&display=swap);

body {
    background-color: #393A3A;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(90px, auto) repeat(5, 70px);
    margin-bottom: 20px;
}

.calculator-grid button {
    color: #fff;
    cursor: pointer;
    outline: none;
    background-color: #8D54F0;
    font-size: 1.8rem;
    border: 2px solid #925AF3;
    transition: .2s ease;
}

.calculator-grid button:hover {
    box-shadow: inset 0 0 15px #763abe;
    font-size: 2rem;
}

.display {
    padding: 10px;
    grid-column: 1 / -1;
    background-color: #6327cc;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous-operand {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .7);
}

.display .current-operand {
    font-size: 3rem;
    color: #fff;
}

.span-two {
    grid-column: span 2;
}

.last-saved-result {
    color: #fff;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: #8D54F0;
    cursor: pointer;
    transition: .2s ease;
}

.last-saved-result:hover {
    scale: 1.1;
    box-shadow: inset 0 0 15px #763abe;
}

.history {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #282929;
    padding: 20px;
}

.history h2 {
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
}

.history li {
    width: auto;
    background-color: #bd9bf8;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.history li::marker {
    color: #fff;
}

.history span {
    color: #fff;
}

.history button {
    cursor: pointer;
    padding: 8px 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    outline: none;
}

.history .save:hover {
    scale: 1.06;
}

.save {
    background-color: #009b00;
}

.btn-delete {
    background-color: transparent;
    margin-left: 10px;
    font-weight: 600;
}

@media screen and (min-width: 800px) {

    .container-general {
        min-height: 90vh;
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
        align-content: center;
        flex-wrap: wrap;
    }

    .calculator-grid {
        grid-template-columns: repeat(4, 90px);
        grid-template-rows: minmax(110px, auto) repeat(5, 90px);
    }

    .history {
        width: 300px;
    }
}